body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}
.WebStudio {
font-weight: 700;
font-size: 18px;
line-height: 1.16667;
color: #2e2f42; 
background-color: #fff;
}
.header-links {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: #2e2f42;
background-color: #fff;
}
.navig {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;  
}
.header-links .navig:hover {
color: #404bbf;  
}
.header-links .navig:focus {
color: #404bbf;  
}
.head-adress {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #434455;
background-color: #fff;
}
.section-one {
background: #2e2f42;
}
.head-one {
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #ffffff; 
}
.section-three {
  background-color: #F4F4FD; 
}
.name-button {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
background: #4d5ae5;
cursor: pointer;
font-family:"Roboto", sans-serif;
letter-spacing: 0.04em;
color: #ffffff;
}
.mail-link:hover, .mail-link:focus {
  color: #404bbf;
}
.name-button:hover {
background-color: #404BBF;
}
.name-button:focus {
  background-color: #404BBF;
}
.box-ul .box-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.box-ul .pbox {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.title-portfolio {
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
color: #2e2f42;
background-color: #fff;
}
.logo-link .studio {
color: #2e2f42; /* STUDIO color */
}
.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.downloads .studio-class {
  color: #2e2f42;
}
.header-links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  
}
.header-links .navig:hover {
  color: #404bbf;
}
.header-links .navig:active {
color: #404bbf
}
.contacts {
  font-style: normal;
}
.mail-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.mail-link:hover {
  color: #404bbf;
}
.mail-link:active {
  color: #404bbf ;
}
.member-one {
background-color: #FFFFFF;

}
.span-footer {
color: #f4f4fd;  
}
.footer {
background: #2e2f42;
}
.footer-link {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
color: #4d5ae5;
letter-spacing: 0.03em;
text-transform:uppercase;
}
.footer-p {
line-height: 1.5;
color: #F4F4FD;  
 letter-spacing: 0.02em;
}
.section-header {
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}
.mark-li {
background-color: #FFFFFF;
}
.box-title-mark {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;  
}
.pbox-mark {
font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;  
}